name: Publish

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  publish:
    name: Publish crate

    runs-on: ubuntu-latest

    environment: publish

    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Check CHANGELOG.md
        run: grep -Fqx "Version ${{ github.ref_name }}" CHANGELOG.md
      - name: Check Cargo.toml
        run: grep -Fqx "version = \"${{ github.ref_name }}\"" Cargo.toml
      - name: Publish
        run: cargo publish --verbose
