name: Publish

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  publish:
    name: Publish crate

    runs-on: ubuntu-latest

    environment: publish

    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check CHANGELOG.md
        run: grep -Fqx "Version ${{ github.ref_name }}" CHANGELOG.md
      - name: Check Cargo.toml
        run: grep -Fqx "version = \"${{ github.ref_name }}\"" Cargo.toml
      - name: Publish
        run: cargo publish --verbose
