name: Rust

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  build_unix:
    name: Build for ${{ matrix.os }}

    strategy:
      matrix:
        # Build for Windows as well to ensure the crate doesn't cause any build issues on non-Unix platforms.
        os: [ubuntu-latest, macOS-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: clechasseur/rs-clippy-check@286fd9545eb133adad54b4af34bcb642e266ddd1 # v5.0.2
        with:
          args: --all-targets --all-features

      - name: Build
        run: cargo build --all-targets --all-features --verbose

  test_ubuntu:
    name: Test on Ubuntu

    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run tests
        run: |
          sudo useradd daemonize-test
          CARGO_BIN=$(which cargo)
          sudo -E $CARGO_BIN test --all-features --verbose

  test_macos:
    name: Test on macOS

    runs-on: macOS-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run tests
        run: |
          sudo sysadminctl -addUser daemonize-test
          sudo dseditgroup -o create daemonize-test
          CARGO_BIN=$(which cargo)
          sudo -E $CARGO_BIN test --all-features --verbose
